<app-header></app-header>
<div class="container">
    <div class="col-md-6 mb-4">
        <div class="card indigo form-white">
            <div class="card-body">
                <h3 class="text-center white-text py-3">Create a meeting</h3>
                <!--Body-->
                <div class="md-form">
                    <input type="text" id="defaultForm-email1" class="form-control">
                    <label for="defaultForm-email1">Your Name</label>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline btn-success">Create meeting link</button>
                </div>
            </div>
        </div>
    </div>
</div>