.main-footer{
    position: absolute;
    bottom: 0;
    height: 90px;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
    -moz-box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
    box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
}
.video-controls{
    height: 100%;
    text-align: center;
    width: 240px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.button-control{
    display: inline;
    width: 70px;
    margin: 10px 5px;
    float: left;
    
}

.my-button{
    border-radius: 50%;
    height: 65px;
    width: 65px;
    padding: 20px;
    -webkit-box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
    -moz-box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
    box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
}

.my-button:hover{
    background: #f3f1ee;
    cursor: pointer;
}

.color-red:hover{
    background: #d93025;
}

.icon-position{
    font-size: 27px;
}

.video-container{
    position: absolute;
    height: 100%;
    width: 250px;
    left: 10px;
    -webkit-box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
    -moz-box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
    box-shadow: 0px -2px 6px 3px rgba(163,151,163,0.46);
}

.local-video{
    width: 100%;
    height: 100%;
}