<div class="main-footer">
    <div class="video-controls">
        <div class="text-center">
            <div class="button-control">
                <div class="my-button">
                    <i class="fa fa-microphone icon-position" aria-hidden="true"></i>
                </div>
            </div>
            <div class="button-control">
                <div class="my-button color-red">
                    <i class="fa fa-phone icon-position" aria-hidden="true"></i>
                </div>
            </div>
            <div class="button-control">
                <div class="my-button">
                    <i class="fa fa-video-camera icon-position" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="showLocalVideo" class="video-container" id="video-id"></div>
</div>
