video {
  width: 100%;
  height: 100%;
}

.videoPlayer{
  width: 100%; 
  height: 300px; 
  border: 2px solid;
  display: inline-block;
  position: relative;
}
.mice-container{
  position: absolute;
  bottom: 10px;
  left: 44%;
  border: 1px solid #8a8787;
  border-radius: 50%;
  width: 26px;
  z-index: 1;
  background-color: #fff;
}

.mice{
  position: relative;
  left: 22%;
}

.main-body{
  position: absolute;
  top: 10px;
  bottom: 90px;
  left: 0;
  right: 0;
  overflow: scroll;
  overflow-x: hidden;
}
.video-players{
  height: 100%;
}